.flex-container {
  height: 25%;
  width: 100%;
  border: 2px solid black;
  display: flex;
  background-color: navy;
  color: white;


}
.flex-container2 {
  height: 25%;
  width: 100%;
  border: 2px solid white;
  display: flex;
  background-color: black;
  color: white;
  display: flex;
  gap: 2px;
  flex-direction: row;
}
.flex-container3 {
  height: 25%;
  width: 100%;
  border: 2px solid white;
  display: flex;
  background-color: red;
  color: white;
}
footer  {
  background-color: yellow;
  height: 25%;
  width: 100%;
}
.flex-item {
  display: flex 1;
  align-items: flex-start;
  border: 2px solid black;
  flex-direction: column;
}
.nav-item {
  display: inline-flex;
  border: 2px dotted white;
  text-align: center;
  width: auto;
  height: auto;
}
.placeholder {
  background: grey;
  border: 1px solid black;
  width: auto;
  height: auto;

}
.hLogo {
  background-color: navy;
  color:white
}
